.footer-section{
    width: 100%;
    height: 50vh;
    // background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}
.footer-section .social-links{
    width: 100%;
    height: 8vh;
    // background-color: blueviolet;
    display: flex;
    align-content: center;
    justify-content: space-between;
}
.social-links .s-l-left{
    width: 35vw;
    height: 8vh;
    // background-color: aquamarine;
    display: flex;
    align-items: center;
    justify-content: center;
}
.s-l-left p{
    font-size: 1.5vw;
    text-align: center;
}

.social-links .s-l-right{
    width: 45vw;
    height: 8vh;
    // background-color: aquamarine;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.s-l-right a{
    text-decoration: none;
    color: white;
    font-size: 1.5vw;
    transition: 0.2s;
}

.s-l-right a:nth-child(1):hover{
    color: rgb(7, 121, 235);
}
.s-l-right a:nth-child(2):hover{
    color: rgb(7, 121, 235);
}
.s-l-right a:nth-child(3):hover{
    color: rgb(7, 121, 235);
}
.s-l-right a:nth-child(4):hover{
    color: rgb(7, 121, 235);
}
.s-l-right a:nth-child(5):hover{
    color: rgb(7, 121, 235);
}
.footer-section .line{
    width: 80vw;
    height: 0.3vh;
    // background-color: red;
}

.footer-section .main-footer{
    width: 100%;
    height: 35vh;
    // background-color: blueviolet;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-footer .col1{
    width: 25vw;
    height: 35vh;
    // background-color: aqua;
}

.col1 .col-head h3{
    margin-left: 2vw;
    margin-top: 1.1vw;
}
.col1 .col-content p{
    margin: 1vw 3vw 0vw 2vw;
    font-size: 0.9vw;
}

.main-footer .col1, 
.main-footer .col2,
.main-footer .col3,
.main-footer .col4{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

.main-footer .col2{
    width: 20vw;
    height: 35vh;
    // background-color: rgb(67, 119, 119);
}
.col2 .col-head h3{
    margin-left: 2vw;
    margin-top: 1.1vw;
}
.col2 .col-content ul{
    margin: 1vw 3vw 0vw 2vw;
    font-size: 0.9vw;
}
.col2 .col-content ul li{
    margin: 1.2vw 0vw;
    cursor: pointer;
}

.main-footer .col3{
    width: 20vw;
    height: 35vh;
    // background-color: aqua;
}
.col3 .col-head h3{
    margin-left: 2vw;
    margin-top: 1.1vw;
}
.col3 .col-content ul{
    margin: 1vw 3vw 0vw 2vw;
    font-size: 0.9vw;
}
.col3 .col-content ul li{
    margin: 1.2vw 0vw;
    cursor: pointer;
}
.main-footer .col4{
    width: 30vw;
    height: 35vh;
    // background-color: rgb(0, 255, 72);
}
.col4 .col-head h3{
    margin-left: 2vw;
    margin-top: 1.1vw;
}
.col4 .col-content ul li{
    margin: 1.2vw 0vw;
    cursor: pointer;
    list-style: none;
    font-size: 1.1vw;
}
.col-head{
    width: 100%;
    height: 6vh;
    // background-color: black;
}

.col-content{
    width: 100%;
    height: 30vh;
    // background-color: black;
}

.copyright{
    width: 100%;
    height: 7vh;
    // background-color: blueviolet;
    display: flex;
    align-items: center;
    justify-content: center;
}