.why-uniswapo{
    width: 100%;
    height: 90vh;
    // background-color: bisque;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

.why-uniswapo .w-heading{
    width: 100%;
    height: 13vh;
    // background-color: black;
}
.w-heading h1{
    font-size: 5vw;
    margin-top: 0;
    text-align: center;
    margin-left: 10vw;
    font-weight: 700;
}
.w-heading h1 span{
    color: #b5e83e;
    font-family: 'Kaushan Script', sans-serif;
}

.w-heading img{
    width: 25vw;
    height: 15vh;
    margin: 0;
    transform: translate(46vw, -6vh);
}

.why-uniswapo .w-content{
    width: 100%;
    height: 70vh;
    // background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.w-content .w-left{
    width: 30vw;
    height: 55vh;
    // background-color: burlywood;
    object-fit: cover;
    overflow: hidden;
    box-shadow: 20px 20px 0px 0px  rgba(194, 236, 98, 0.922);
    
}
.w-left img{
    width: 30vw;
    height: 55vh;
}

.w-content .w-right{
    width: 55vw;
    height: 60vh;
    // background-color: burlywood;
}

.w-right h2{
    font-size: 1.5vw;
}

.w-right ul{
    padding-left: 5vw;
}

.w-right ul li{
    font-size: 1.1vw;
}

